input[name = "username"]{
  display: inline !important;
  border: 1px solid #DCDCDC !important;
  height: 60px !important;
  margin-top: 10vh !important;
  box-sizing: border-box !important;
  padding-left: 10px !important;
}
input:focus{
  box-shadow: none !important;
}
.username{
  width: 50% !important;
  margin-left: 25% !important;
}
.waves-effect{
  margin-left: 25% !important;
  width: 50% !important;
}

.btn-floating{
  width: 60px !important;
  height: 60px !important;
}

@media only screen and (max-width: 800px) {
  .username, .waves-effect{
    width: 80% !important;
    margin-left: 10% !important;
  }
}
