input[name = "username"]{
  display: inline !important;
  border: 1px solid #DCDCDC !important;
  height: 60px !important;
  margin-top: 10vh !important;
  box-sizing: border-box !important;
  padding-left: 10px !important;
}
input:focus{
  box-shadow: none !important;
}
.username{
  width: 50% !important;
  margin-left: 25% !important;
}
.waves-effect{
  margin-left: 25% !important;
  width: 50% !important;
}

.button-home{
  height: 56px !important;
  width: 56px !important;
  border-radius: 50%;
  text-align: center;
  padding-top: 14px;
}

@media only screen and (max-width: 800px) {
  .username, .waves-effect{
    width: 80% !important;
    margin-left: 10% !important;
  }
}
